<html>
<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title>login.cmu.edu</title>
   <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
   <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

Hello,<br/><br/>

This was a simulation, conducted to assess students' vulnerability to spear phishing emails. <br/>If the website's address does not begin with login.cmu.edu, never provide your login credentials.<br/>Your login information (both AndrewID and Password) has not been recorded.<br/>The unique codes at the end of the links are used solely to identify who accessed the webpage and attempted to log in.<br/><br/>

The personality scores obtained from the survey will be utilized to analyze which personality traits make individuals more susceptible to phishing emails.<br/>If you have any questions, please reach out to the person who provided you with the survey.<br/><br/>

Thank you very much for participating in the survey.

</html>